<!doctype html>
<html lang="en">
    <head>
        <title>Items List</title>
    </head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/items">Items</a>
        </nav>
    </header>
    <h1>Items List</h1>
    <ul>
        {% if items|length == 0 %}
            <li>No items found</li>
        {% else %}
            {% for item in items %}
            <li>{{item}}</li>
            {% endfor %}
        {% endif %}
    </ul>
    {% include 'footer.html' %}
</body>
</html>